// Body
$mainBlue:#3A46A9;
$bg: #E1E4E9;
$white: #D9D9D9;
$text: #1c1c1c;
$borderColor: rgba(225, 228, 233, 1);
$darkTheme: #5b3836;
$bp-tablet: 768px;
$bp-mobile: 425px;
$bp-laptop: 1281px;
$bp-mediumDesktop: 1921px;
$bp-largeDesktop: 3841px;

td{
    text-transform: capitalize;
    padding: 10px;
}
input{
    padding: 10px;
    border: 1px solid $white;
    border-radius: 5px;

    &:focus{
        //border: 1px solid green;
        outline: none;
    }
}

form{
    p{
        color: red;
        font-size: 12px;
    }
}

.search{
    padding: 7px 7px 7px 10px;
    width: 30%;
    @media screen and (max-width: $bp-laptop) {
        width: 100%;
        margin: 10px;
    }
    border: 1px solid silver;
}

.customContainer{
    width: 45vw;
    @media screen and (max-width: $bp-laptop) {
        width: 100vw;
    }

    p{
        width: 20vw;
        @media screen and (max-width: $bp-laptop) {
            width: 40vw;
        }
    }
}
