@import "mixin";

.modal {
  font-family: sans-serif;
  background-color: rgba(7, 7, 7, 0.5); /* Black w/ opacity */
  @include centerItemsAbsolute;
  width: 100%;
  height: 100vh;
  z-index: 4;
  //border-radius: 40px;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  margin: 4vh auto;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1rem;
  @media screen and (max-width: $bp-mobile) {
    width: 100vw;
  }
}
