@import "mixin";

.modal {
  font-family: sans-serif;
  background-color: rgba(7, 7, 7, 0.5); /* Black w/ opacity */
  @include centerItemsAbsolute;
  width: 101%;
  height: 101vh;
  z-index: 4;
  margin-top: 0;
  //border-radius: 40px;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 101vh;
  margin: 0 auto;
  padding: 2rem 1rem 0 0;
  overflow-y: scroll;
  scrollbar-width: none;
  @media screen and (max-width: $bp-mobile) {
    width: 100vw;
  }
}

.modal-content-small {
  background-color: #fafafa;
  border-radius: 10px;
  width: 700px;
  margin: 0 auto;
  height: 60vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1rem;
  transform: translate(0%, 20%);
  @media screen and (max-width: $bp-mobile) {
    width: 100vw;
  }
}
